@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

:root {
  --bg-color: #2e2e2e;
  --font-color: #f1f1f1;
  --typewriterSpeed: 4s;
  --typewriterCharacters: 22;
}

* {
  font-family: "inconsolata", monospace;
}

.main {
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  background: var(--bg-color);
  color: var(--font-color);
}

.main h1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  position: relative;
  width: max-content;
}

.main h1::before,
.main h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.main h1::after {
  width: 0.125em;
  background: var(--font-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.main .subtitle,
.main a {
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none !important;
  opacity: 0;
  padding-top: 20px;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#clock {
  padding-bottom: 20px;
}

.hide {
  display: none;
}

.about-me-section > * {
  color: #2e2e2e;
}

.about-title {
  font-size: 48px;
  text-align: center;
  padding-top: 7vh;
}

.about-me {
  height: 70vh;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-me-image {
  height: 50vh;
  width: auto;
  padding: 0 8vw;
}

.about-me-text {
  padding-right: 5vw;
  font-size: 30px;
}

.projects-section {
  background-color: #2e2e2e;
}

.projects-title {
  height: auto;
  font-size: 48px;
  text-align: center;
  padding-top: 7vh;
  color: white;
}

.projects {
  height: 75vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 170px 220px 70px;
  grid-template-areas: "image" "text" "languages";
  border-radius: 15px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
  margin: 4vh 2vw;
}

.card-image1 {
  grid-area: image;
  background: url("../images/studytips2.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-image2 {
  grid-area: image;
  background: url("../images/demo.PNG");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-image3 {
  grid-area: image;
  background: url("../images/wordcounter.PNG");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-text {
  grid-area: text;
  margin: 20px;
}

.card-text .date {
  color: #2e2e2e;
  font-size: 12px;
}

.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-text p {
  color: black;
  font-size: 15px;
  font-weight: 300;
}

.card-text a {
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.card-languages {
  grid-area: languages;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #2e2e2e;
}

.card-languages .language {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card-languages .value {
  font-size: 12px;
  font-weight: 500;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.projects-more {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}

.fade-in {
  opacity: 0;
  transition: opacity 750ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .main h1 {
    font-size: 34px;
  }

  .main a {
    font-size: 28px;
  }

  .about-me {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-me-image {
    height: 30vh;
    width: auto;
  }

  .about-me-text {
    padding-left: 5vw;
    font-size: 22px;
  }

  .projects {
    height: 190vh;
  }
}
